/*======================== MAIN FOOTER CONTAINER =========================*/
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #256029;
    color: #ffffff;
    padding: 2rem 1rem 0 1rem;
    font-size: 0.85rem;
}


/*======================== FOOTER COLUMN LAYOUT =========================*/
.footer div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}


/*======================== FOOTER SECTION HEADINGS =========================*/
.footer h4 {
    font-weight: 600;
    color: #ffffff;
}


/*======================== FOOTER LINKS =========================*/
.footer a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-weight: 450;
}


/*======================== FOOTER LINK HOVER EFFECT =========================*/
.footer a:hover {
    color: #c8e6c9;
    text-decoration: underline;
}

/*======================== Style buttons in footer =========================*/
.footer button {
    background: none;
    border: none;
    color: #ffffff;
    font: inherit;
    padding: 0;
    margin: 0.1rem 0;
    text-align: left;
    cursor: pointer;
  }
  /*======================== Style buttons in footer (hover) =========================*/
  .footer button:hover {
    color: #c8e6c9;
    text-decoration: underline;
  }


/*======================== COPYRIGHT BAR =========================*/
.copyright {
    background-color: #256029;
    text-align: center;
    padding: 0.8rem 1rem;
    color: #999999;
    font-size: 0.75rem;
    font-weight: 400;
}